# Exercise 2 - Movie Recommender System

## Text Similarity

Recommender systems are one of the popular and most adopted applications of machine learning. They are typically used to recommend entities to users and these entites can be anything like products, movies, services and so on.

Popular examples of recommendations include,

- Amazon suggesting products on its website
- Amazon Prime, Netflix, Hotstar recommending movies\shows
- YouTube recommending videos to watch

Typically recommender systems can be implemented in three ways:

- Simple Rule-based Recommenders: Typically based on specific global metrics and thresholds like movie popularity, global ratings etc.
- Content-based Recommenders: This is based on providing similar entities based on a specific entity of interest. Content metadata can be used here like movie descriptions, genre, cast, director and so on
- Collaborative filtering Recommenders: Here we don't need metadata but we try to predict recommendations and ratings based on past ratings of different users and specific items.

__We will be building a movie recommendation system here where based on data\metadata pertaining to different movies, we try and recommend similar movies of interest!__

With this exercise we will learn how to apply concepts learnt through tutorials of week1. Let's get started

In [1]:
!nvidia-smi

Fri Mar 26 01:17:31 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.56       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P100-PCIE...  Off  | 00000000:00:04.0 Off |                    0 |
| N/A   35C    P0    25W / 250W |      0MiB / 16280MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

## Load Data
If you are using google colab please use the upload file button option from the 'Files' icon on the left pane to upload the tmdb_5000_movies.csv.gz dataset.

In [2]:
import pandas as pd

df = pd.read_csv('tmdb_5000_movies.csv.gz', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

## **View** top few rows of the dataframe

In [3]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [4]:
column_list = ['title', 'tagline', 'overview', 'genres', 'popularity']
df = df[column_list]
df.tagline.fillna('', inplace=True)

In [5]:
df['description'] = df['tagline'].map(str) + ' ' + df['overview'].map(str)

In [6]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4800 non-null   object
 1   tagline      4800 non-null   object
 2   overview     4800 non-null   object
 3   genres       4800 non-null   object
 4   popularity   4800 non-null   float64
 5   description  4800 non-null   object
dtypes: float64(1), object(5)
memory usage: 262.5+ KB

# __Question 1:__ Simple Text Preprocessing

First step is to prepare the text columns for analysis. In this section we will prepare textual columns before we extract features from them

In [14]:
from tqdm import tqdm
import re

def normalize_corpus(docs):
    norm_docs = []
    for doc in tqdm(docs):
        # use regex to remove special characters\whitespaces
        doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, flags=re.I|re.A)

        # lower case  
        doc = doc.lower()

        # store in new list
        norm_docs.append(doc)

    return norm_docs

### Preprocess the __description__ column

In [15]:
norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

100%|██████████| 4800/4800 [00:00<00:00, 73428.35it/s]

4800

In [16]:
movies_list = df['title'].values
movies_list, movies_list.shape

(array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
        ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
        'My Date with Drew'], dtype=object), (4800,))

## Movie Recommendation with Embeddings
Let us use sentence level embeddings and then compute movie similarity. Here we will use the **USE model** and use the pretrained weights.

# __Question 2:__  Use ``TensorFlow Hub`` to get embeddings using Universal Sentence Encoder for the normalized corpus

In [17]:
import tensorflow_hub as hub

### The following may take some time to load

In [18]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4"
embed = hub.load(module_url)

In [19]:
movie_embeddings = embed(norm_corpus)

movie_embeddings, movie_embeddings.shape

(<tf.Tensor: shape=(4800, 512), dtype=float32, numpy=
 array([[-0.05723435, -0.04214483, -0.03309576, ..., -0.04181182,
          0.07057297, -0.06043932],
        [-0.02595232, -0.05021415, -0.04850538, ...,  0.01649479,
          0.09187799,  0.01649959],
        [ 0.03469853, -0.00659053, -0.04887958, ..., -0.01806329,
          0.0558591 ,  0.04785299],
        ...,
        [-0.06091747, -0.07319183, -0.05980853, ..., -0.0440587 ,
          0.05961612,  0.03807229],
        [ 0.02981014, -0.04371533,  0.01389753, ..., -0.06064739,
          0.0625461 , -0.07192577],
        [ 0.02773671,  0.02169432,  0.01284114, ..., -0.03256613,
          0.07879637,  0.00417032]], dtype=float32)>, TensorShape([4800, 512]))

# __Question 3:__ Get Movie Similarity Scores

We will leverage cosine similarity again to generate similarity scores based on universal embeddings for each movie description

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

### Complete the following snippet to prepare a dataframe of pair-wise similarity of different movies

In [21]:
doc_sim = cosine_similarity(movie_embeddings)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.370310  0.270230  ...  0.337353  0.296578  0.199609
1  0.370310  1.000000  0.273559  ...  0.206349  0.278405  0.286379
2  0.270230  0.273559  1.000000  ...  0.391457  0.333736  0.187940
3  0.303317  0.269835  0.361671  ...  0.382139  0.365542  0.243153
4  0.490067  0.467660  0.362316  ...  0.450151  0.394229  0.263465

[5 rows x 4800 columns]

# __Question 4:__  Movie Recommender

Build a recommendation utility function to find top 5 movies similar to what you did in Week 1

In [25]:
import numpy as np

def movie_recommender(movie_title, movies=movies_list, doc_sims=None):
    # find movie id
    movie_idx = np.where(movies == movie_title)[0][0]

    # get movie similarities. 
    #Hint: movie index helps find the exact row
    movie_similarities = doc_sims.iloc[movie_idx].values
    
    # get top 5 similar movie IDs
    # Hint: use numpy utility to do a sort
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    
    # get top 5 movies
    similar_movies = movies[similar_movie_idxs]
    
    # return the top 5 movies
    return similar_movies

# __Question 5:__ : Complete the following snippet to get movie recommendations

In [27]:
popular_movies = ['Interstellar', 'Deadpool', 'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Terminator Genisys', 
              'Captain America: Civil War', 'The Dark Knight', 'The Martian', 'Batman v Superman: Dawn of Justice', 
              'Pulp Fiction', 'The Godfather', 'The Shawshank Redemption', 'The Lord of the Rings: The Fellowship of the Ring',  
              'Harry Potter and the Chamber of Secrets', 'Star Wars', 'The Hobbit: The Battle of the Five Armies',
              'Iron Man']

In [28]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Interstellar
Top 5 recommended Movies: ['Event Horizon' 'Gattaca' 'Space Battleship Yamato' 'Lost in Space'
 'Star Trek IV: The Voyage Home']

Movie: Deadpool
Top 5 recommended Movies: ['American Hero' 'Hancock'
 'Teenage Mutant Ninja Turtles: Out of the Shadows'
 'X-Men Origins: Wolverine' 'The Expendables 3']

Movie: Jurassic World
Top 5 recommended Movies: ['Jurassic Park' 'Walking With Dinosaurs'
 'Sea Rex 3D: Journey to a Prehistoric World'
 'The Lost World: Jurassic Park' 'The Land Before Time']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['The Pirates! In an Adventure with Scientists!'
 'Pirates of the Caribbean: On Stranger Tides' 'Waterworld'
 "Pirates of the Caribbean: Dead Man's Chest"
 "VeggieTales: The Pirates Who Don't Do Anything"]

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'The 5th Wave'
 'The Day the Earth Stood Still' 'Beneath the Planet of the Apes'
 'Soldier']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'The Hunger Games' 'Reign of Fire' 'The Twilight Saga: Eclipse']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 3: Rise of the Machines' 'The Terminator'
 'Terminator Salvation' 'The Matrix Revolutions'
 'Terminator 2: Judgment Day']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Avengers: Age of Ultron' 'Captain America: The Winter Soldier'
 'Iron Man 2' 'Thor' 'Superman IV: The Quest for Peace']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman' 'Batman Forever' 'Batman Begins'
 'Batman Returns']

Movie: The Martian
Top 5 recommended Movies: ['The Last Days on Mars' 'My Favorite Martian' 'Red Planet'
 'Lost in Space' 'Planet 51']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Batman: The Dark Knight Returns, Part 2' 'Defendor' 'Batman Begins'
 'Broken City' 'The Dark Knight Rises']

Movie: Pulp Fiction
Top 5 recommended Movies: ['The Matador' 'Harley Davidson and the Marlboro Man' 'Locker 13' '11:14'
 'Murder by Numbers']

Movie: The Godfather
Top 5 recommended Movies: ['The Godfather: Part II' 'The Last Godfather' 'The Godfather: Part III'
 'The Sting' 'GoodFellas']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Prison' 'Lucky Break' 'Mean Machine' 'Civil Brand' 'Escape Plan']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Lord of the Rings: The Two Towers'
 'The Lord of the Rings: The Return of the King'
 'The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 'The Hobbit: The Battle of the Five Armies']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Goblet of Fire'
 'Harry Potter and the Order of the Phoenix'
 "Harry Potter and the Philosopher's Stone"
 'Harry Potter and the Half-Blood Prince']

Movie: Star Wars
Top 5 recommended Movies: ['The Empire Strikes Back' 'Return of the Jedi'
 'Star Wars: Episode III - Revenge of the Sith'
 'Star Wars: Clone Wars: Volume 1'
 'Star Wars: Episode I - The Phantom Menace']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['The Hobbit: The Desolation of Smaug'
 'The Lord of the Rings: The Two Towers'
 'The Hobbit: An Unexpected Journey'
 'The Lord of the Rings: The Return of the King'
 'The Lord of the Rings: The Fellowship of the Ring']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 2' 'Iron Man 3' 'The Lego Movie' 'In the Name of the King III'
 'Captain America: The First Avenger']