# Exercise 1 - Movie Recommender System with FastText Embeddings

## Text Similarity

Recommender systems are one of the popular and most adopted applications of machine learning. They are typically used to recommend entities to users and these entites can be anything like products, movies, services and so on.

Popular examples of recommendations include,

- Amazon suggesting products on its website
- Amazon Prime, Netflix, Hotstar recommending movies\shows
- YouTube recommending videos to watch

Typically recommender systems can be implemented in three ways:

- Simple Rule-based Recommenders: Typically based on specific global metrics and thresholds like movie popularity, global ratings etc.
- Content-based Recommenders: This is based on providing similar entities based on a specific entity of interest. Content metadata can be used here like movie descriptions, genre, cast, director and so on
- Collaborative filtering Recommenders: Here we don't need metadata but we try to predict recommendations and ratings based on past ratings of different users and specific items.

__We will be building a movie recommendation system here where based on data\metadata pertaining to different movies, we try and recommend similar movies of interest!__

With this exercise we will learn how to apply concepts learnt through tutorials of week1. Let's get started

___Fill in the blanks \ areas of code snippet with `<YOUR CODE HERE>` in the following code cells___

## Load Data

If you are using google colab please use the upload file button option from the 'Files' icon on the left pane to upload the `tmdb_5000_movies.csv.gz` dataset.

In [1]:
import pandas as pd

df = pd.read_csv('tmdb_5000_movies.csv.gz', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

### **Question 1**: **View** top few rows of the dataframe (1 point)

In [2]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [3]:
column_list = ['title', 'tagline', 'overview', 'genres', 'popularity']
df = df[column_list]
df.tagline.fillna('', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

### **Question 2**: Merge text from tagline column with text from overview column (1 point)

In [4]:
df['description'] = df['tagline'].map(str) + ' ' + df['overview'].map(str)

In [5]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4800 non-null   object
 1   tagline      4800 non-null   object
 2   overview     4800 non-null   object
 3   genres       4800 non-null   object
 4   popularity   4800 non-null   float64
 5   description  4800 non-null   object
dtypes: float64(1), object(5)
memory usage: 262.5+ KB

## Text Preprocessing

First step is to prepare the text columns for analysis. In this section we will prepare textual columns before we extract features from them

In [6]:
import nltk

In [7]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

### **Question 3**: Complete the text normalization utility function (2 points)

In [8]:
import re
import numpy as np

stop_words = nltk.corpus.stopwords.words('english')

In [9]:
def normalize_document(doc):
    # remove special characters\whitespaces, ignore case
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.IGNORECASE|re.A)

    # lower case  
    doc = doc.lower()

    # remove whitespaces
    doc = re.sub(' +', ' ', doc)
    doc = doc.strip()

    # tokenize document
    tokens = nltk.word_tokenize(doc)

    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]

    # re-create/merge sentences from filtered content
    doc = ' '.join(filtered_tokens)
    return doc

In [10]:
normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

4800

In [11]:
movies_list = df['title'].values
movies_list, movies_list.shape

(array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
        ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
        'My Date with Drew'], dtype=object), (4800,))

## Movie Recommendation with Embeddings
We used count based features in a similar assignment in the first course. Can we use word embeddings and then compute movie similarity? We definitely can! Here we will use the FastText model and train it on our corpus.

### **Question 4**: Use ``gensim`` to train a FastText model on the normalized corpus (1 point)

You can keep:

- the embedding size to be 300
- context to be around 30
- min word count to be 2 (feel free to try more if needed as a filter)
- use a skipgram model
- iterations can be 50 (reduce it if it takes too long)

This might take a while to train!

In [12]:
from gensim.models import FastText

# iterate normalized corpus and split
tokenized_docs = [nltk.word_tokenize(doc) for doc in norm_corpus]

# Set values for various parameters
feature_size = 300   # Set Word embedding dimensionality 
window_context = 30  # Set Context window size                                                                                  
min_word_count = 2   # Set Minimum word count                    
sg = 1               # set skip-gram model flag

# train FastText model
ft_model = FastText(tokenized_docs, size=feature_size, 
                     window=window_context, min_count = min_word_count,
                     sg=sg, iter=50)

##Generate document level embeddings

Word embedding models give us an embedding for each word, how can we use it for downstream ML\DL tasks? one way is to flatten it or use sequential models. A simpler approach is to average all word embeddings for words in a document and generate a fixed-length document level emebdding

### **Question 5**: Complete the following utility to prepare document vectors by averaging word vectors (3 points)

In [13]:
def average_word_vectors(words, model, vocabulary, num_features):
    
    feature_vector = np.zeros((num_features,),dtype="float64")
    nwords = 0.
    
    for word in words:
        if word in vocabulary: 
            nwords = nwords + 1.
            feature_vector = np.add(feature_vector, model[word])
    
    if nwords:
        feature_vector = np.divide(feature_vector, nwords)
        
    return feature_vector

def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index2word)
    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [14]:
doc_vecs_ft = averaged_word2vec_vectorizer(tokenized_docs, ft_model, 300)
doc_vecs_ft.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  if __name__ == '__main__':

(4800, 300)

## Get Movie Recommendations

Recommendations in its most simplest form is a method of identifying items which are most similar to given user's preferences. In this scenario we use a content based recommendation system which tries to find similar movies based on the movie content i.e. description.

To identify similar items, we will use pairwise similarity measure called **cosine similarity**

We will leverage cosine similarity to generate recommendations

### **Question 6**: Complete the following snippet to prepare a dataframe of pair-wise cosine similarity of different movies (1 point)

Create pairwise cosine similarity based on the document embeddings

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
doc_sim = cosine_similarity(doc_vecs_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1         2     ...      4797      4798      4799
0  1.000000  0.544096  0.574028  ...  0.552062  0.482813  0.505799
1  0.544096  1.000000  0.530780  ...  0.604774  0.555440  0.559372
2  0.574028  0.530780  1.000000  ...  0.537250  0.543664  0.517098
3  0.586273  0.515946  0.587342  ...  0.635904  0.563764  0.537014
4  0.586716  0.623231  0.536151  ...  0.584623  0.522301  0.533792

[5 rows x 4800 columns]

## Step by Step Methodology for Recommendation

### **Question 7**: Get a list of Movie titles (1 point)

In [19]:
# movie titles
movies_list = df['title']
movies_list

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4800, dtype: object

### **Question 8**: Given a movie title, get its index value (1 point)

Here let's get the ID for the movie __Minions__

__Hint:__ Numpy has dedicated functions to find the index from a numpy array or you can use list indexing functions also. The output should be a number

In [20]:
## movie ID
movie_idx = np.where(movies_list == 'Minions')
movie_idx

(array([546]),)

## Get Similar Movies

We already calculated pairwise similarity between all movies in our dataset. Next step is to extract moview similar to a given movie.

Let us use the movie _Minions_ at index _546_ to find some similar movies using ``doc_sim_df`` dataframe

### **Question 9**: Extract row of dataframe given an index (1 point)

In [21]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([[0.47014731, 0.53810713, 0.53270891, ..., 0.51057078, 0.50204268,
        0.54564011]])

### Top Similar Movies

### **Question 10**: Get top 5 most similar movies in descending order of similarity (1 point)

_hint: In descending order the index 0 represents the movie itself (as a movie description is 100% similar to itself, so it is safe to skip index 0_

#### Get top 5 movie IDs

In [22]:
similar_movie_idxs = np.argsort(movie_similarities)
similar_movie_idxs = similar_movie_idxs[0][-6:-1][::-1]
similar_movie_idxs

array([ 614, 2825, 4568, 1358,  506])

#### Get top 5 movie names

In [23]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

614                               Despicable Me
2825                                      Yentl
4568    Poultrygeist: Night of the Chicken Dead
1358      Austin Powers: The Spy Who Shagged Me
506                             Despicable Me 2
Name: title, dtype: object

## Movie Recommender

Time to make use of all the smaller steps we have gone through so far to prepare a recommendation utility

### **Question 11**: Complete the utility function for getting movie recommendations (2 points)

In [24]:
def movie_recommender(movie_title, movies=movies_list, doc_sims=None):
    # find movie id
    movie_idx = np.where(movies_list == movie_title)

    # get movie similarities. 
    #Hint: movie index helps find the exact row
    movie_similarities = doc_sim_df.iloc[movie_idx].values
    
    # get top 5 similar movie IDs
    # Hint: use numpy utility to do a sort
    similar_movie_idxs = np.argsort(movie_similarities)
    similar_movie_idxs = similar_movie_idxs[0][-6:-1][::-1]
    
    # get top 5 movies
    similar_movies = movies_list[similar_movie_idxs]
    
    # return the top 5 movies
    return similar_movies

### Find Similar Movies

In [25]:
popular_movies = ['Minions', 'Interstellar', 'Deadpool', 'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Terminator Genisys', 
              'Captain America: Civil War', 'The Dark Knight', 'The Martian', 'Batman v Superman: Dawn of Justice', 
              'Pulp Fiction', 'The Godfather', 'The Shawshank Redemption', 'The Lord of the Rings: The Fellowship of the Ring',  
              'Harry Potter and the Chamber of Secrets', 'Star Wars', 'The Hobbit: The Battle of the Five Armies',
              'Iron Man']

In [26]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: 614                               Despicable Me
2825                                      Yentl
4568    Poultrygeist: Night of the Chicken Dead
1358      Austin Powers: The Spy Who Shagged Me
506                             Despicable Me 2
Name: title, dtype: object

Movie: Interstellar
Top 5 recommended Movies: 220                     Prometheus
1352                       Gattaca
3625    Keeping Up with the Steins
1645                      The Cave
300              Starship Troopers
Name: title, dtype: object

Movie: Deadpool
Top 5 recommended Movies: 4426       A Fine Step
242     Fantastic Four
1308            Enough
30        Spider-Man 2
5         Spider-Man 3
Name: title, dtype: object

Movie: Jurassic World
Top 5 recommended Movies: 675                     Jurassic Park
508     The Lost World: Jurassic Park
334                 Jurassic Park III
2527      National Lampoon's Vacation
1536                         Vacation
Name: title, dtype: object

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: 17         Pirates of the Caribbean: On Stranger Tides
848      The Pirates! In an Adventure with Scientists!
12          Pirates of the Caribbean: Dead Man's Chest
4596                                            Maniac
2590    VeggieTales: The Pirates Who Don't Do Anything
Name: title, dtype: object

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: 4174          The Crime of Padre Amaro
4191                  Against the Wild
335     Rise of the Planet of the Apes
3395                     The Extra Man
3898             Cat on a Hot Tin Roof
Name: title, dtype: object

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: 183           The Hunger Games: Catching Fire
102     The Hunger Games: Mockingjay - Part 2
426                          The Hunger Games
4650                                     Exam
47                    Star Trek Into Darkness
Name: title, dtype: object

Movie: Terminator Genisys
Top 5 recommended Movies: 279             Terminator 2: Judgment Day
43                    Terminator Salvation
46              X-Men: Days of Future Past
93      Terminator 3: Rise of the Machines
3438                               Control
Name: title, dtype: object

Movie: Captain America: Civil War
Top 5 recommended Movies: 85     Captain America: The Winter Soldier
7                  Avengers: Age of Ultron
79                              Iron Man 2
47                 Star Trek Into Darkness
342                           Men in Black
Name: title, dtype: object

Movie: The Dark Knight
Top 5 recommended Movies: 3       The Dark Knight Rises
428            Batman Returns
299            Batman Forever
3853                     2:13
1359                   Batman
Name: title, dtype: object

Movie: The Martian
Top 5 recommended Movies: 27                         Battleship
1959    Star Trek IV: The Voyage Home
3157                 Jab Tak Hai Jaan
487                        Red Planet
541                           Soldier
Name: title, dtype: object

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: 3818        The House of Sand
3853                     2:13
65            The Dark Knight
3       The Dark Knight Rises
119             Batman Begins
Name: title, dtype: object

Movie: Pulp Fiction
Top 5 recommended Movies: 4621          Royal Kill
3465        Mystic Pizza
3525    Standing Ovation
3503        Lake of Fire
4450       American Hero
Name: title, dtype: object

Movie: The Godfather
Top 5 recommended Movies: 2730                 Black Swan
867     The Godfather: Part III
2802               Solitary Man
3163                  Detention
3787              The Big Tease
Name: title, dtype: object

Movie: The Shawshank Redemption
Top 5 recommended Movies: 4528         Mean Creek
609         Escape Plan
3784      Shooting Fish
1166           Get Hard
1187    Bridge of Spies
Name: title, dtype: object

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: 330            The Lord of the Rings: The Two Towers
98                 The Hobbit: An Unexpected Journey
329    The Lord of the Rings: The Return of the King
22               The Hobbit: The Desolation of Smaug
19         The Hobbit: The Battle of the Five Armies
Name: title, dtype: object

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: 114          Harry Potter and the Goblet of Fire
191     Harry Potter and the Prisoner of Azkaban
113    Harry Potter and the Order of the Phoenix
8         Harry Potter and the Half-Blood Prince
197     Harry Potter and the Philosopher's Stone
Name: title, dtype: object

Movie: Star Wars
Top 5 recommended Movies: 1990                         The Empire Strikes Back
1490                              Return of the Jedi
229     Star Wars: Episode III - Revenge of the Sith
230     Star Wars: Episode II - Attack of the Clones
352                                            Mulan
Name: title, dtype: object

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: 22               The Hobbit: The Desolation of Smaug
98                 The Hobbit: An Unexpected Journey
1306                     Dragon Nest: Warriors' Dawn
229     Star Wars: Episode III - Revenge of the Sith
113        Harry Potter and the Order of the Phoenix
Name: title, dtype: object

Movie: Iron Man
Top 5 recommended Movies: 79                  Iron Man 2
7      Avengers: Age of Ultron
618                Mystery Men
182                    Ant-Man
119              Batman Begins
Name: title, dtype: object